body {
    margin-left:auto;
    margin-right:auto;
    width:70%;
    background-color: #f4f4f4;
}


.auctionProduct {
    background-color: #fff;
    border: 2px solid #ddd; /* Use a lighter border color */
    margin: 20px 0px;
    padding: 10px; /* Increase padding for better spacing */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    background-color: #fff; /* Set a background color for better contrast */
    border-radius: 5px; /* Round the corners */
    
  }

  a.auctionProductLink{
    text-decoration: none;
}


.productText.productPage  {
    font-size: 1.5em ;
}