{% extends "auctions/layout.html" %}

{% block body %}

    {% for product in productsInCategory %}
        <a href="{% url 'productPage' product.id%}" class="auctionProductLink">
            <div class="auctionProduct">
                <div class="productText">
                    <h3><b> {{product.productName}} <span class="status">{% if product.status == 'closed' %} (CLOSED) {% endif %} </span> </b></h3>

                    {% if product.highestBid %}
                        {% if product.status == 'active' %}
                            <small><b>Current Price:</b> {{ product.highestBid|floatformat:2  }}$</small> <br>
                        {% else %}
                            <small><b>Winning Bid:</b> {{ product.highestBid|floatformat:2  }}$</small> <br>
                        {% endif %}
                    {% else %}
                        {% if product.status == 'active' %} 
                            <small><b>Current Price:</b> No bids yet</small><br>
                        {% else %}
                            <small><b>Winning Bid:</b> No bids were placed </small><br>   
                        {% endif %}
                    {% endif %}

                    <small><b>Listed By:</b> {{product.seller}} at {{ product.creationTime }}</small>
                </div>
                <div class="productImg">
                    {% if product.image %}
                        <img src="{{ product.image.url }}" alt="{{ product.productName }}" style="max-width: 200px;">
                    {% endif %}
                </div> 
            </div>
        </a>

    {%empty%}
        <p>No active listings for this category</p>
    {% endfor %}




{% endblock %}