{% extends "auctions/layout.html" %}

{% block body %}

    
    <h2>Categories</h2>
    <ul class="horizontalCategories">
        {% for category in categories_with_counts %}
           
        <li><a href="{% url 'categoryPage' category.category %}">{{ category.category }} ({{ category.category_count }} items) </a></li>

        {% endfor %}
    </ul>


    <h2>Active Listings</h2>

    {% for auctionList in auctionLists %}
    <a href="{% url 'productPage' auctionList.id%}" class="auctionProductLink">
        <div class="auctionProduct">
            <div class="productText">
                <h3><b> {{auctionList.productName}} <span class="status">{% if auctionList.status == 'closed' %} (CLOSED) {% endif %} </span> </b></h3>

                {% if auctionList.highestBid %}
                    {% if auctionList.status == 'active' %}
                        <small><b>Current Price:</b> {{ auctionList.highestBid|floatformat:2  }}$</small> <br>
                    {% else %}
                        <small><b>Winning Bid:</b> {{ auctionList.highestBid|floatformat:2  }}$</small> <br>
                    {% endif %}
                {% else %}
                    {% if auctionList.status == 'active' %} 
                        <small><b>Current Price:</b> No bids yet</small><br>
                    {% else %}
                        <small><b>Winning Bid:</b> No bids were placed </small><br>   
                    {% endif %}
                {% endif %}

                <small><b>Listed By:</b> {{auctionList.seller}} at {{ auctionList.creationTime }}</small>
            </div>
            <div class="productImg">
                {% if auctionList.image %}
                    <img src="{{ auctionList.image.url }}" alt="{{ auctionList.productName }}" style="max-width: 200px;">
                {% endif %}
            </div> 
        </div>
    </a>
    {%empty%}
        <p>No active listings.</p>
    {% endfor %}

{% endblock %}