{% extends "auctions/layout.html" %}

{% block body %}

    {% for product in watchlist %}
    <a href="{% url 'productPage' product.id%}" class="auctionProductLink">
        <div class="auctionProduct">
            <div class="productText">
                <h3><b> {{product.productName}} </b></h3>

                {% if product.highestBid %}
                    <small><b>Current Price:</b> {{ product.highestBid|floatformat:2  }}$</small> <br>
                {% else %}
                    <small><b>Current Price:</b> No bids yet</small><br>
                {% endif %}

                <small><b>Listed By:</b> {{product.seller}} at {{ product.creationTime }}</small>
            </div>
            <div class="productImg">
                {% if product.image %}
                    <img src="{{ product.image.url }}" alt="{{ product.productName }}" style="max-width: 200px;">
                {% endif %}
            </div> 
        </div>
    </a>

    {%empty%}
        <p>No active listings.</p>
    {% endfor %}




{% endblock %}